<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <h3> Home Page </h3>
    <br>
    <br>
   <div align="left">

     <img src="{% static 'img/sth.jpg' %}" width="620" height="300" >
       <img src="{% static 'img/main2.jpg' %}" width="620" height="300" >

   </div>
    <div align="center">

     <img src="{% static 'img/donate.jpg' %}" width="900" height="300" >
       <!--<img src="{% static 'img/charity.jpg' %}" width="650" height="300" >-->

   </div>

     {% include "mainhome/header.html" %}

</head>

<a href="{% url 'managerlogin:managerlogin_form' %}"></a><br>
<!--<a href="{% url 'bduser:BduserRegForm' %}"></a><br>-->
<!--<a href="{% url 'user:UserRegForm' %}"></a><br>-->
<a href="{% url 'viewhosp:Form' %}"></a><br>
<a href="{% url 'viewdoc:Form' %}"></a></li>
<a href="{% url 'cancerview:Form' %}"></a>

</html>