
<html lang="en">
{% load static %}
<head>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div align="left">

     <img src="{% static 'img/can5.jpg' %}" width="620" height="500" >
       <img src="{% static 'img/can6.jpg' %}" width="620" height="500" >
        <!--<img src="{% static 'img/can3.jpg' %}" width="400" height="450" >-->

   </div>
    <div align="left">

     <img src="{% static 'img/can8.jpg' %}" width="500" height="490" >
       <img src="{% static 'img/can9.jpg' %}" width="500" height="490" >
        <img src="{% static 'img/can10.jpg' %}" width="200" height="450" >

   </div>
{% include "viewcancerdet/viewheader.html" %}
</head>

<br>
<br>
<br>
<br>
<br>
<body>
<div align="left">

     <!--<img src="{% static 'img/can4.jpg' %}" width="620" height="450" >-->
       <!--<img src="{% static 'img/can2.jpg' %}" width="620" height="450" >-->
        <!--<img src="{% static 'img/can3.jpg' %}" width="400" height="450" >-->

   </div>




</body>
<br>
<br>
<br>
{% include "footer.html" %}
</html>
