<html>
<head>

    {% include "header.html" %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1><center>Parlour Registration</center></h1>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table align=center>
        <tr>
            <td>
                Parlour_id:
            </td>
            <td>
                {{ form.parlour_id }}
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>

        <tr>
            <td>
                Place:
            </td>
            <td>
                {{ form.place }}
            </td>
        </tr>
        <tr>
            <td>
                City:
            </td>
            <td>
                {{ form.city }}
            </td>
        </tr>
        <tr>
            <td>
                District:
            </td>
            <td>
                {{ form.district }}
            </td>
        </tr>

        <tr>
            <td>
                Email:
            </td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                {{ form.phone }}
            </td>
        </tr>



        <tr>

            <td>

            </td>
            <td>
                <input type="submit" name="submit" value="INSERT">
            </td>
            <td>
                <input type="submit" name="submit" value="RESET">
            </td>
        </tr>
         </table>
</form>
     <table border="1" align="center">
    <tr>
        <td> Parlour_id</td>
        <td> Name</td>
        <td>Place</td>
        <td>City</td>
        <td> District</td>
        <td> Email</td>
        <td> Phone</td>
        <td>Edit/Delete</td>
    </tr>
         {% for obj in data %}
    <tr>
        <td>{{ obj.parlour_id }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.place }}</td>
        <td>{{ obj.city }}</td>
        <td>{{ obj.district }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.phone }}</td>


        <td>
            <a href="{% url 'parlour:edit_parlourreg' pk=obj.id %}">edit</a>
            <a href="{% url 'parlour:delete_parlourreg' pk=obj.id %}">delete</a>
        </td>
    </tr>
    {% endfor %}

</table>
</body>
{% include "footer.html" %}
